.header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header__centerer {
    display: flex;
}

.header__logo {
    width: 139px;
    height: 34px;
}

.header__contacts {
    margin-left: auto;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font: 13px/1.5 $font;
    font-weight: 500;
    text-align: right;
}